.accordion {
  background-color: #f3f0f0;
  color: black;
  width: 31%;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}

.drop-down {
  background-color: #fcfafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 20px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.drop-down p {
  margin: 0;
  font-size: 16px;
}

.accordion ul {
  padding: 0;
  margin: 0;
}

.accordion ul li {
  list-style: none;
  line-height: 23px;
  font-size: 16px;
  padding: 10px 20px 15px;
  transition: background-color 0.3s ease;
}

.accordion ul li:hover {
  background-color: #e2dfdf;
}

.accordion ul a {
  text-decoration: none;
}
