.play-circle {
  font-size: 25px;
}

.mental-health {
  width: 600px;
}

.mental-health h3 {
  margin: 0;
}

.mental-health h2 {
  margin: 25px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
}

.mental-health .text {
  font-size: 20px;
  margin-top: 0;
}

.mental-health h4 {
  font-size: 17px;
  margin: 0;
}

.mental-health .pos {
  margin: 0;
}

.mental-health .btn {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  border-style: solid;
  border-radius: 25px;
  width: 165px;
  padding: 8px 0 8px 16px;
  transition: all 0.3s ease;
}

.mental-health .btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .mental-health {
    width: 100%;
  }

  .mental-health h3 {
    font-size: 16px;
  }

  .mental-health h2 {
    font-size: 32px;
    line-height: 30px;
  }

  .mental-health .text {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mental-health {
    width: 100%;
  }

  .mental-health h3 {
    font-size: 16px;
  }

  .mental-health h2 {
    font-size: 32px;
    line-height: 37px;
    margin: 20px 0;
  }

  .mental-health .text {
    font-size: 18px;
  }
}
