* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.overall-wrapper {
  font-family: "mulish", sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.md-health-logo img {
  width: 170px;
}

.nav-right {
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

.dropdown-menu,
.dropdown-toggle {
  color: #3c3c3c;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-toggle ul {
  padding: 0;
  border-radius: 5px;
  background-color: white;
  color: #3d3c3c;
  margin: 0;
  position: absolute;
  transition: all 0.3s ease;
}

.dropdown-toggle ul li {
  padding: 0 21px;
  list-style: none;
  text-align: left;
  line-height: 42px;
  font-size: 15px;
  font-weight: 600;
}

.dropdown-toggle ul li:hover {
  background-color: #f5f7f8;
  border-radius: 5px;
}

.nav-right h4 {
  margin: 0;
  font-size: 16px;
  padding: 0 8px;
}

.menu {
  margin: 0 8px;
}

.menu h4 {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: color 0.4s ease;
}

.menu-details {
  font-family: "mulish", sans-serif;
  color: white;
  padding: 80px 400px 0;
  position: fixed;
  background-color: #00a3ff;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.2s ease-in-out, transform 0.9s ease-in-out;
}

.menu-details.open {
  max-height: 100vh;
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}

.menu-details.closed {
  max-height: 0;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-100%);
}

.menu-details .delete-icon {
  text-align: end;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.links.nav-modal-links {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.links.nav-modal-links ul {
  margin-top: 15px;
}

.links.nav-modal-links ul:first-of-type {
  margin-top: 0;
}

.links.nav-modal-links ul:hover .anchor-tags {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
  pointer-events: auto;
  height: auto !important;
}

.nav-modal-links .anchor-tags {
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  height: 0px;
  overflow: hidden;
}

.links.nav-modal-links .anchor-tags a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.links.nav-modal-links .anchor-tags a:hover {
  text-decoration: underline;
}

.links.nav-modal-links h3 {
  font-size: 70px;
  font-weight: 600;
  margin: 0;
}

.nav-modal-right h2 {
  font-size: 50px;
  font-weight: 500;
  margin: 0;
}

.nav-modal-right p {
  font-size: 18px;
  margin: 30px 0 50px;
  line-height: 30px;
}

.nav-modal-accordion .drop-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.nav-modal-accordion .drop-down p {
  font-size: 16px;
}

.nav-modal-accordion ul {
  padding: 0;
  background-color: #2c93e7;
  margin-top: -1px;
}

.nav-modal-accordion ul li:hover {
  background-color: #1e8ee9;
}

.nav-modal-accordion ul a {
  color: white;
}

.meeeting-schedule {
  margin-top: 150px;
  z-index: -1;
}

.meeeting-schedule hr {
  position: relative;
  margin: 0 0 30px;
  width: 650px;
  opacity: 0.4;
  z-index: -1;
}

.meeeting-schedule h3 {
  font-size: 16px;
  margin: 0;
}

.meeeting-schedule h4 {
  margin: 5px 0 25px;
  font-weight: 500;
}

.schedule {
  display: flex;
  align-items: center;
  gap: 13px;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background: transparent;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.schedule:hover {
  background-color: #1e8ee9;
}

.nav-right span {
  font-size: 28px;
  font-weight: 100;
}

.nav-btn {
  background-color: #00a3ff;
  color: white;
  padding: 14px 23px;
  border-style: none;
}

.nav-btn:hover {
  background-color: #3e8ae6;
}

@media screen and (max-width: 767px) {
  .nav-right button {
    display: none;
  }

  .navbar {
    gap: 30px;
  }

  .md-health-logo img {
    width: 140px;
  }

  .nav-right h4 {
    padding: 0;
  }

  .menu-details {
    padding: 30px 40px 0;
  }

  .menu-details h2 {
    font-size: 25px;
  }

  .menu-details p {
    font-size: 16px;
    margin: 30px 0 30px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-details {
    padding: 100px 150px 0;
  }

  .menu-details h2 {
    font-size: 40px;
  }

  .menu-details p {
    font-size: 18px;
    margin: 30px 0 30px;
    width: 100%;
  }

  .meeeting-schedule hr {
    margin: 0 0 30px;
    width: 50%;
  }
}
