.sec-8-9-container .flex-right h3 {
  margin: 0;
}

.sec-8-9-container .flex-right h2 {
  margin: 25px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
}

.sec-8-9-container .flex-right .text {
  font-size: 20px;
  margin-top: 0;
}

.sec-8-9-container .flex-right h4 {
  font-size: 17px;
  margin: 0;
}

.sec-8-9-container .flex-right .pos {
  margin: 0;
}

.sec-8-9-container .flex-right .btn {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-style: solid;
  border-radius: 25px;
  padding: 4px 8px;
  width: 165px;
  padding: 10px 0 10px 16px;
  transition: background-color 0.3s ease;
}

.sec-8-9-container .flex-right .btn:hover {
  background-color: #3e8ebdd8;
  cursor: pointer;
}

.sec-8-9-container .flex-right .btn .watch {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
}
