.sec6-container {
  padding: 120px 100px 120px;
  display: flex;
  justify-content: flex-start;
  height: 150vh;
}

.products {
  width: 60%;
}

.products-1,
.products-2 {
  transition: background-image 0.5s ease;
}

.personalized-health {
  width: 40%;
}

.personalized-health p {
  font-size: 18px;
}

.personalized-health h1 {
  font-size: 45px;
  word-wrap: break-word;
  width: 300px;
  line-height: 50px;
  margin: 0;
}

.personalized-health .text {
  margin: 30px 0 25px;
}

.accordion-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.drop-down-2 {
  background-color: #dbdada;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
}

.drop-down-2 h4 {
  font-size: 18px;
  margin: 0;
  background-color: orange;
  width: 18px;
  padding: 8px 24px 8px 14px;
  border-radius: 100%;
}

.drop-down-2 h3 {
  margin: 0;
}

.num-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-picks {
  width: 400px;
  list-style: none;
  display: flex;
  align-items: center;
  row-gap: 15px;
  column-gap: 5px;
  flex-wrap: wrap;
  position: relative;
  bottom: 1090px;
  left: 213px;
  padding: 55px;
}

.top-picks li {
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 20px;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.top-picks li:hover {
  background-color: #4c65a8;
  color: white;
}
