.bg-img {
  background-image: url("./home-hero-wide-bg-img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 82% 50%;
  height: 125vh;
}

.sec-1 {
  color: white;
  padding: 80px 90px;
}

.article-1 {
  padding: 0 0 0 40px;
}

.article-1 h1 {
  font-size: 75px;
  line-height: 75px;
  word-wrap: break-word;
  width: 600px;
  margin-bottom: 0;
}

.article-1 .Global-text {
  margin: 40px 0 30px;
  font-size: 18px;
  word-wrap: break-word;
  width: 530px;
}

@media screen and (max-width: 767px) {
  .bg-img {
    background-image: url("./home-hero-wide-bg-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 82% 50%;
    height: 95vh;
  }

  .sec-1 {
    padding: 80px 0 0;
  }

  .article-1 {
    padding: 0 0 0 30px;
  }

  .article-1 h1 {
    font-size: 45px;
    line-height: 50px;
    width: 340px;
    margin-bottom: 0;
  }

  .article-1 .Global-text {
    margin: 40px 0 30px;
    font-size: 18px;
    width: 330px;
  }
}
