.sec6-container {
  color: #080808c9;
  padding: 120px 100px 120px;
  display: flex;
  justify-content: center;
  height: 900px;
  position: relative;
}

.products {
  width: 50%;
}

.products-1,
.products-2 {
  transition: background-image 0.5s ease;
}

.personalized-health {
  width: 50%;
}

.personalized-health p {
  font-size: 18px;
  word-wrap: break-word;
  width: 600px;
}

.personalized-health h1 {
  font-size: 45px;
  word-wrap: break-word;
  width: 450px;
  line-height: 50px;
  margin: 0;
}

.personalized-health .text {
  margin: 20px 0 25px;
}

.accordion-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.drop-down-2 {
  background-color: #dbdada;
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
}

.drop-down-2 h4 {
  font-size: 18px;
  margin: 0;
  background-color: orange;
  width: 18px;
  padding: 8px 24px 8px 14px;
  border-radius: 100%;
}

.drop-down-2 h3 {
  margin: 0;
}

.num-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-picks {
  width: 400px;
  list-style: none;
  display: flex;
  align-items: center;
  row-gap: 15px;
  column-gap: 5px;
  flex-wrap: wrap;
  position: absolute;
  top: 300px;
  left: 18.5%;
  padding: 55px;
}

.top-picks li {
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 20px;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.top-picks li:hover {
  background-color: #4c65a8;
  color: white;
}

.accordion-text {
  margin: 20px 0 0 50px;
}

@media screen and (max-width: 767px) {
  .sec6-container {
    background-color: #f7f6f6;
    padding: 0 30px 0;
    flex-direction: column;
    display: flex;
    height: 700px;
  }

  .personalized-health {
    width: 100%;
  }

  .personalized-health p {
    font-size: 18px;
    word-wrap: break-word;
    width: 320px;
  }

  .personalized-health h1 {
    font-size: 28px;
    width: 300px;
    line-height: 27px;
  }

  .personalized-health .text {
    margin: 25px 0 25px;
  }

  .products {
    display: none;
  }

  .drop-down-2 {
    background-color: #dbdada;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
  }

  .accordion-text {
    margin: 20px 0 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec6-container {
    padding: 0 40px 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 1300px;
  }

  .products {
    position: relative;

    /* left: 10%; */
    width: 80%;
  }

  .personalized-health {
    width: 80%;
  }

  .personalized-health h1 {
    width: 300px;
    font-size: 28px;
    line-height: 27px;
  }

  .personalized-health p {
    font-size: 17px;
    word-wrap: break-word;
    width: 100%;
  }

  .top-picks {
    left: 22%;
  }

  .drop-down-2 {
    background-color: #dbdada;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
  }
}
