.approach-bg {
  background-image: url("./Our-Approach-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 34%;
}

.sec2-container {
  padding: 128px 200px 0;
  color: #3c3c3c;
}

.sec2-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 80px;
}

.sec2-container h2 {
  margin: 0;
  font-size: 45px;
  width: 500px;
  line-height: 50px;
}

.sec2-card-wrapper {
  display: flex;
  gap: 17px;
  position: relative;
}

.sec2-card {
  background-color: #f7f6f6;
  width: 33%;
  padding: 40px 40px 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sec2-card h4 {
  font-size: 25px;
  margin: 0;
  background-color: orange;
  width: 18px;
  padding: 10px 33px 10px 18px;
  border-radius: 100%;
}

.sec2-card h3 {
  font-size: 27px;
  margin: 20px 0;
}

.sec2-card p {
  margin: 0;
  font-size: 18px;
  color: #3c3c3c;
}

@media screen and (max-width: 767px) {
  .approach-bg {
    background-size: cover;
    background-position: 100%;
  }

  .sec2-container {
    padding: 60px 30px;
  }

  .sec2-flex {
    margin: 0 0 40px;
  }

  .sec2-container h2 {
    font-size: 28px;
    width: 250px;
    line-height: 30px;
  }

  .sec2-card-wrapper {
    flex-direction: column;
  }

  .sec2-card {
    background-color: #f7f6ee;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
  }

  .sec2-card h3 {
    font-size: 25px;
    line-height: 30px;
    margin: 20px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .approach-bg {
    background-size: cover;
    background-position: 100%;
  }

  .sec2-container {
    padding: 100px 60px 0;
  }

  .sec2-flex {
    margin: 0 0 40px;
  }

  .sec2-container h2 {
    font-size: 32px;
    width: 480px;
    line-height: 42px;
  }

  .sec2-card-wrapper {
    flex-direction: column;
  }

  .sec2-card {
    background-color: #f7f6ee;
    width: 100%;
    padding: 50px;
    border-radius: 10px;
  }
}
