.sec7-container {
  background-color: #e8e7e3f9;
}

.sec7-container .cards-wrapper {
  grid-template-columns: repeat(3, 1fr);
}

.sec7-cards {
  height: 700px;
  min-width: 950px;
}

.sec7-cards .image-card {
  width: 100%;
  height: 650px;
  object-fit: cover;
  object-position: 1%;
  border-radius: 10px;
}

.sec7-cards .card-details {
  background-color: #00a3ff;
  color: white;
  width: 50%;
  min-height: 80%;
  padding: 49px;
  border-radius: 10px;
  position: relative;
  bottom: 87%;
  left: 440px;
}

.sec7-cards .image-title {
  width: 170px;
}

.card-details .text {
  font-size: 20px;
  margin: 80px 0;
}

.card-details h4 {
  margin: 0;
}

.card-details .pos {
  margin: 5px 0 0;
}

@media screen and (max-width: 767px) {
  .sec7-container h3 {
    margin: 0;
  }

  .sec7-container .scroll-wrap p {
    width: 90%;
    font-size: 28px;
  }

  .sec7-cards {
    min-width: 280px;
  }

  .sec7-container .cards-wrapper {
    overflow: hidden;
  }

  .sec7-cards .image-card {
    height: 250px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .sec7-cards .card-details {
    padding: 32px;
    width: 100%;
    min-height: 63%;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: 2%;
    left: 0;
  }

  .sec7-cards .image-title {
    width: 150px;
  }

  .card-details .text {
    font-size: 16px;
    margin: 30px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec7-container h3 {
    margin: 0;
  }

  .sec7-container .scroll-wrap p {
    width: 60%;
  }

  .sec7-cards {
    min-width: 450px;
  }

  .sec7-container .cards-wrapper {
    overflow: hidden;
  }

  .sec7-cards .image-card {
    height: 250px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .sec7-cards .card-details {
    width: 100%;
    min-height: 65%;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: 2%;
    left: 0;
  }

  .card-details .text {
    font-size: 20px;
    margin: 30px 0;
  }
}
