.sec3-container {
  background-color: #00a3ff;
  padding: 90px 0;
  overflow: hidden;
  width: 100%;
  z-index: 900;
}

.sec3-container p {
  margin: 0;
  font-size: 25px;
  color: white;
  text-align: center;
}

.logos-wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 55px;
}

.logos-wrapper img {
  max-width: 200px;
  object-fit: contain;
}

.logos-wrapper .company-logo {
  width: auto;
  object-fit: contain;
}

.pixar {
  width: 200px;
}

.zappos {
  width: 140px;
}

.dennys {
  width: 100px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 767px) {
  .sec3-container {
    padding: 50px 0;
  }

  .sec3-container p {
    font-size: 24px;
  }

  .logos-wrapper {
    margin-top: 30px;
    animation: scroll 10s linear infinite;
  }

  .logos-wrapper .company-logo {
    width: 180px;
  }

  .pixar {
    width: 180px;
  }

  .zappos {
    width: 130px;
  }

  .dennys {
    width: 100px;
  }
}
