.sec7-container {
  background-color: #e9e3e3;
  padding: 80px 130px;
  overflow: hidden;
  height: 1000px;
}

.sec7-container h3 {
  margin: 0;
  color: #556fb8;
}

.sec7-container .scroll-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 30px 0;
}

.sec7-container .scroll-wrap p {
  margin: 0;
  color: #080808c9;
  font-size: 50px;
  font-weight: 700;
  word-wrap: break-word;
  width: 50%;
  line-height: 50px;
}

.sec7-container .forward-backward {
  display: flex;
  align-items: center;
  gap: 18px;
}

.sec7-container .arrow-wrap {
  padding: 10px 12px;
  background-color: #556fb8;
  border-radius: 100%;
}

.sec7-container .forward-arrow,
.backward-arrow {
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.sec7-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.sec7-cards {
  min-width: 500px;
}

.sec7-cards .image-card {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 25%;
  border-radius: 10px;
}

.sec7-cards .card-details {
  background-color: #556fb8;
  color: white;
  width: 60%;
  min-height: 50%;
  padding: 50px 30px 0;
  border-radius: 10px;
  position: relative;
  bottom: 52%;
  left: 200px;
}

.sec7-cards .image-title {
  width: 170px;
}

.card-details .text {
  font-size: 20px;
  margin: 40px 0;
}

.card-details h4 {
  margin: 0;
}

.card-details .pos {
  margin: 5px 0 0;
}

@media screen and (max-width: 767px) {
  .sec7-container {
    padding: 80px 30px;
    /* height: 1100px; */
  }

  .sec7-container h3 {
    margin: 0;
    color: #556fb8;
  }

  .sec7-container .scroll-wrap {
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
  }

  .sec7-container .scroll-wrap p {
    font-size: 30px;
    width: 95%;
    line-height: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec7-container {
    padding: 80px 30px;
    height: 1100px;
  }

  .sec7-container h3 {
    margin: 0;
    color: #556fb8;
  }

  .sec7-container .scroll-wrap p {
    font-size: 48px;
    line-height: 45px;
  }

  .sec7-cards {
    min-width: 500px;
  }

  .sec7-cards .image-card {
    height: 700px;
  }

  .sec7-cards .card-details {
    width: 60%;
    min-height: 42%;
    padding: 30px 30px 0;
    bottom: 51%;
    left: 200px;
  }
}
