.bg-img {
  background-image: url("/home-hero-wide-bg-img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 82% 50%;
  height: 1000px;
}

.sec-1 {
  color: white;
  padding: 80px 90px 0;
}

.article-1 h1 {
  font-size: 75px;
  line-height: 75px;
  word-wrap: break-word;
  width: 600px;
  margin-bottom: 0;
}

.article-1 .Global-text {
  margin: 40px 0 30px;
  font-size: 18px;
  word-wrap: break-word;
  width: 530px;
}

@media screen and (max-width: 767px) {
  .bg-img {
    background-position: 72% 50%;
    height: 650px;
  }

  .sec-1 {
    padding: 80px 30px;
  }

  .article-1 h1 {
    font-size: 38px;
    line-height: 40px;
    width: 340px;
    margin-bottom: 0;
  }

  .article-1 .Global-text {
    margin: 40px 0 30px;
    font-size: 18px;
    width: 330px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bg-img {
    background-position: 72% 50%;
    height: 800px;
  }

  .sec-1 {
    padding: 80px 40px 0;
  }

  .article-1 h1 {
    font-size: 65px;
    line-height: 60px;
    width: 340px;
  }

  .article-1 .Global-text {
    font-size: 20px;
    width: 400px;
  }
}
