.section9-container {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 130px 0 130px 130px;
}

.section9-container .flex-left img {
  width: 620px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media screen and (max-width: 767px) {
  .section9-container {
    padding: 60px 30px 60px 30px;
    flex-direction: column;
    gap: 40px;
  }

  .section9-container .flex-left img {
    width: 315px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
