.sec3-container {
  background-color: #556fb8;
  padding: 90px 0;
  overflow: hidden;
  width: 100%;
}

.sec3-container p {
  margin: 0;
  font-size: 25px;
  color: white;
  text-align: center;
}

.logos-wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 55px;
  animation: scrollLogos 20s linear infinite;
}

.logos-wrapper .company-logo {
  width: 200px;
}

.pixar {
  width: 200px;
}

.zappos {
  width: 140px;
}

.dennys {
  width: 100px;
}

@keyframes scrollLogos {
  from {
    transform: translateX(2%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 767px) {
  .sec3-container {
    padding: 50px 0;
  }

  .sec3-container p {
    margin: 0 40px;
    font-size: 23px;
  }

  .logos-wrapper {
    margin-top: 30px;
    animation: scrollLogos 5s linear infinite;
  }

  .logos-wrapper .company-logo {
    width: 180px;
  }

  .pixar {
    width: 180px;
  }

  .zappos {
    width: 130px;
  }

  .dennys {
    width: 100px;
  }
}
