.sec4-container {
  background-color: #f7f6ee;
}

.sec4-container .cards-wrapper {
  grid-template-columns: repeat(5, 1fr);
}

.sec4-cards {
  background-color: #00a3ff;
  min-width: 630px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.sec4-cards video {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.play-icon-wrap {
  text-align: center;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  padding: 23px 20px;
  border-radius: 100%;
  background: #12214a80;
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.play-icon {
  color: white;
  font-size: 50px;
}

.logo-text {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 50px;
}

.logo-text img {
  width: 130px;
}

.logo-text p {
  margin: 0;
  color: white;
  font-size: 18px;
}

.logo-text span {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .sec4-cards {
    min-width: 280px;
  }

  .play-icon-wrap {
    top: 15%;
    width: 50px;
    padding: 10px 0px;
  }

  .play-icon {
    font-size: 25px;
  }

  .logo-text {
    gap: 20px;
    padding: 32px;
    flex-direction: column;
  }

  .logo-text img {
    width: 140px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo-text {
    padding: 50px 50px 110px;
  }
}
