.section8-container {
  background-image: url("https://cdn.prod.website-files.com/5f39912be9da2f5c8fc5cc45/67007a1f1589f419b5c1b261_CTA-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section8-container .mental-health {
  color: white;
}

.section8-wrapper {
  padding: 130px 130px 130px 0;
  display: flex;
  align-items: center;
  gap: 100px;
}

.section8-wrapper .member-img img {
  width: 800px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.member-impact .btn:hover {
  background-color: #4f4f4f33;
}

@media screen and (max-width: 767px) {
  .section8-wrapper {
    padding: 60px 30px 60px 30px;
    flex-direction: column;
    gap: 40px;
  }

  .section8-wrapper .member-img img {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mental-health.member-impact {
    position: absolute;
    top: 54.3%;
    /* transform: translateY(0); */
    width: 685px;
  }

  .section8-wrapper {
    padding: 80px 60px 80px 60px;
    flex-direction: column;
    gap: 40px;
    position: relative;
    height: 74vh;
  }

  .section8-wrapper .member-img img {
    width: 85%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(9%) translateY(22%);
  }
}
