.section9-container {
  background-color: #f6f6ee;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 100px;
  padding: 130px 0 130px 200px;
}

.section9-container .community-img img {
  width: 800px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.community-building h3 {
  color: #00a3ff;
}

.community-building h2,
.community-building .text {
  color: #3c3c3c;
}

.community-building .btn {
  border-color: #00a3ff;
  color: #3c3c3c;
}

.community-building .btn:hover {
  background-color: #e4e4db;
}

.community-building .play-circle {
  color: #00a3ff;
}

@media screen and (max-width: 767px) {
  .section9-container {
    padding: 60px 30px 60px 30px;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .section9-container .community-img img {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section9-container {
    padding: 80px 60px 80px 60px;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .section9-container .community-img img {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
