.footer-top {
  padding: 70px 130px;
  background-color: #f4f0f0;
}

.badge-and-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge-and-logo .logo {
  width: 200px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 15px;
}

.badge-1 {
  width: 130px;
  cursor: pointer;
}

.badge-2 {
  width: 120px;
  cursor: pointer;
}

.footer-top hr {
  margin-top: 30px;
  margin-bottom: 0;
  opacity: 0.7;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.platforms p {
  font-size: 18px;
  color: #3c3c3c;
  margin: 0 0 14px;
}

.social-media {
  color: #556fb8;
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-media .icon {
  cursor: pointer;
}

.social-media .icon:hover {
  color: #4862a9;
}

.links {
  color: #3c3c3c;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.links ul {
  margin: 0;
  padding: 0;
}

.links ul h3 {
  font-size: 16px;
  margin: 0 0 14px;
}

.links ul li {
  list-style: none;
  font-size: 15px;
  margin: 0 0 12px;
  cursor: pointer;
}

.links ul li:hover {
  color: #556fb8;
}

.footer-bottom {
  background-color: #e7e2e2;
  color: #3c3c3c;
  padding: 20px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}

.footer-bottom-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-bottom-links a {
  text-decoration: none;
  font-size: 12px;
  color: #3c3c3c;
}

.footer-bottom-links .vert-line {
  border-left: 2px solid #7d7d7d;
  height: 12px;
}

@media screen and (max-width: 767px) {
  .footer-top {
    padding: 40px 30px 20px;
    background-color: #f4f0f0;
  }

  .badge-and-logo .logo {
    width: 110px;
  }

  .badge-1,
  .badge-2 {
    width: 70px;
  }

  .footer-top hr {
    margin-top: 20px;
    margin-bottom: 0;
    opacity: 0.7;
  }

  .platforms p {
    font-size: 14px;
  }

  .social-media {
    gap: 15px;
    width: 80px;
  }

  .links {
    margin-top: 30px;
  }

  .links ul h3 {
    font-size: 13px;
  }

  .links ul li {
    font-size: 12px;
  }

  .footer-bottom {
    padding: 30px 30px;
    flex-direction: column;
    align-items: start;
  }

  .footer-bottom p {
    margin: 0 0 15px;
    font-size: 12px;
  }

  .footer-links {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
  }

  .links {
    color: #3c3c3c;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .footer-bottom-links {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .footer-bottom-links a {
    font-size: 12px;
  }

  .footer-bottom-links .vert-line {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-top {
    padding: 40px 40px 20px;
    background-color: #f4f0f0;
  }

  .badge-and-logo .logo {
    width: 140px;
  }

  .badge-1 {
    width: 100px;
  }

  .badge-2 {
    width: 90px;
  }

  .footer-top hr {
    margin-top: 20px;
    margin-bottom: 0;
    opacity: 0.7;
  }

  .platforms p {
    font-size: 14px;
  }

  .footer-links {
    gap: 30px;
    margin-top: 25px;
  }

  .social-media {
    gap: 15px;
    width: 90px;
  }

  .links ul h3 {
    font-size: 13px;
  }

  .links ul li {
    font-size: 12px;
  }

  .footer-bottom {
    padding: 30px 40px;
    flex-direction: column;
    gap: 15px;
  }

  .footer-bottom p {
    font-size: 12px;
  }
}
